<h1 id="page_title"> Request for <%= @space.name %> </h1>

<section class="container">
  <form action='/making_a_request' method='post'>
    <label> Start Date: </label>
    <input type='date' name='Start_date'>
    <label> End Date: </label>
    <input type = 'date' name='End_date'><br><br>
    <label> Message: </label><br>
    <textarea class='text_area' rows='6' cols='50' name='description'></textarea><br>
    <label> Number: </label><br>
    <input type = 'number' name='Guest_number'>
    <input type='hidden' name= 'space_id' value= '<%= @space.id %>'><br><br>
    <input class='request_button' type = 'submit' value='Submit request'>
  </form>
<section>
