<h1 id="page_title">Sign up</h1>

<section class="container">
  <form action ="/sign_up" method = 'POST'>
  <label class='input'>
  First Name:
    <input type = "text" name = "first_name" required />
  </label>
  <label>
  Last Name:
    <input type = "text" name = "second_name" required />
  </label>
  <br>
  <label><br>
  Username:
    <input type = "text" name = "username" required />
  </label>
  <label for = 'Email'>
  Email:
    <input type = "text" name = "email" required />
  </label>
  <label> <br><br>
  Password:
    <input type = "password" name = "password" required />
  </label>
  <label>
  Password Confirmation:
    <input type = "password" name = "password_confirmation" required />
  </label><br>
    <input class='request_button' type = 'submit' value='Submit' />
  </form>
</section>
