
<h1 id="page_title">Create a new space</h1>


<section class="container">
  <form action='/space_new' method='post'>
    <label><h3> Name:</h3>
   <input type='text' name='name'><br>
   </label>
   <label><h3>Description:</h3>
     <textarea class='text_area' rows='6' cols='50' name='description'></textarea><br>
   </label>
   <label><h3>Price per night:</h3>
   <input type='number' name='price'><br>
   </label>
   <h2>Address</h2>
   <label><h3>
   Street:</h3><input type='text' name='street'>
   </label>
  <label>
   <h3>City:</h3><input type='text' name='city'><br>
   </label>
   <input class='request_button' type='submit' value='Submit'>
  </form>
</section>
